#booking {
	display: none;
}
.main-booking {
	width: 100%;
	border:2px solid;
	height: auto;
	margin-top:20px;
}
.room {
	text-align: right;
}
.ip-text {
	width: 100% !important;
}
.book-info {
	padding-top: 0;
}
.book-info span{
	color:red;
}
.book-info h3 {
	font-size: 18px;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #00A8DF;
    font-weight: bold;
}
.book-infor {
	padding: 10px 0 !important;
    border-bottom:1px solid;
    width: 100%;
    margin: 0px;
}
.content-text {
	color:red;
}
.book-content {
	padding:0;
}
h3.txt-book {
	font-size: 18px;
	font-size: 14px;
    margin: 0px;
    height: 44px;
    background: #f7fafb;
    line-height: 44px;
    padding-left: 21px;
    border-bottom: 1px solid #d7d7d7;
    color: #00A8DF;
    font-weight: bold;
}
.child {
	padding-left:0px;
}
.people {
	text-align: right;
    padding-right: 0;
}
.people1 {
	padding-left:10px;
}
.people label {
	font-size: 13px;
}
.people input {
}
@media (max-width: 767px) {
	.people {
		padding-left: 4px;
	}
	.people input {
		width: 56px;
	}
	#booking {
		position: absolute;
		z-index: 21212;
		top:0px;
	}
}
@media (max-width: 320px) {

}
.room label {
	font-size: 13px;
} 
.gone .input-group-addon {
	border: none;
    width: 100%;
    height: 17px;
    line-height: 30;
    text-align: left;
    position: relative;
    left: 1px;
    background: red;
    top:2px;
}
.gone .datepicker {
position: absolute;
    top: 0px;
}
.button-book {
	text-align: center;
	margin: 18px 0;
}
.btn-book {
	background: #00A8DF;
	color: #FFFFFF;
}
.btn-restart {
	background: #d7d7d7;
	color: #000000;
}
.error {
	color: red;
    height: 29px;
    float: left;
    padding-left: 17px;
    line-height: 29px;
}
.error2 {
	padding:0;
}
